# Project
resources/plenarprotokolle/group_1/*
resources/plenarprotokolle/all/
!resources/plenarprotokolle/group_1/19_181_187.json
resources/plenarprotokolle/open_data/*
!resources/plenarprotokolle/open_data/19180-data.xml

# project artifacts
/cme_latest.tar

# ide stuff
.idea/
*.iml
.vscode

# python specific stuff
__pycache__/
*.py[cod]
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
Scripts/
pyvenv.cfg

# mac stuff
.DS_Store
