LANDSCAPE=prod
COMPOSE_PROJECT_NAME=cme

# MongoDB Root Credentials
MONGO_INITDB_ROOT_USERNAME=cme_admin
MONGO_INITDB_ROOT_PASSWORD=<password>
MONGO_INITDB_DATABASE=admin

# MongoDB credentials for the Communication Model Extractor Service
CME_DB_USERNAME=cme
CME_DB_PASSWORD=<password>
CME_DB_ADDRESS=cme_mongodb:27017
CME_DB_NAME=cme_data

# Credentials to the Crawler Service (Group 1)
CRAWLER_DB_USERNAME=<username>
CRAWLER_DB_PASSWORD=<password>
CRAWLER_DB_ADDRESS=infosys1.f4.htw-berlin.de:27017
CRAWLER_DB_NAME=crawler_db

# Sentiment Credentials to notify about new communication entries
SENTIMENT_ADDRESS=http://141.45.146.163:8001/notify

# Credentials for accessing our api
SENTIMENT_CLIENT_PASSWORD=<password>
CME_ADMIN_PASSWORD=<password>
CRAWLER_CLIENT_PASSWORD=<password>
